@tailwind base;
@tailwind components;
@tailwind utilities;


.no-flow {
    overflow: hidden;
    position: relative;
    height: 100%;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(0, 0%, 23%);
}

header {
  @apply bg-white shadow w-full;
}

button, h1, p, li {
  font-family: 'Fredoka One', cursive;
}


